.content{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(240deg, black, rgb(27, 22, 22));
  border: solid black 2px;
  display: flex;
  justify-content: center;
}
.center{
  margin: 0;
  border: solid black 10px;
  border-radius: 10px;
  height: 100%;
  width: 40%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center div{
  display: flex;
  justify-content: center;
}
.img-div{
  background-image: linear-gradient(180deg, darkgreen, black);
  width: 100%;
}
img{
  max-width: 80%;
  margin: 10px 0;
}
